body{font-size:10px;font-family:verdana;}
.icon-accept {background:url("../../web/images/sprite.png") no-repeat 0 -0px !important;}
.icon-bullet-black {background:url("../../web/images/sprite.png") no-repeat 0 -16px !important;}
.icon-application-split {background:url("../../web/images/sprite.png") no-repeat 0 -32px !important;}
.icon-application-view-columns {background:url("../../web/images/sprite.png") no-repeat 0 -48px !important;}
.icon-cog-go {background:url("../../web/images/sprite.png") no-repeat 0 -64px !important;}
.icon-connect {background:url("../../web/images/sprite.png") no-repeat 0 -80px !important;}
.icon-chart-organisation-add {background:url("../../web/images/sprite.png") no-repeat 0 -96px !important;}
.icon-monitor-add {background:url("../../web/images/sprite.png") no-repeat 0 -112px !important;}
.icon-brick-go {background:url("../../web/images/sprite.png") no-repeat 0 -128px !important;}
.icon-table-row-insert {background:url("../../web/images/sprite.png") no-repeat 0 -144px !important;}
.icon-arrow-out {background:url("../../web/images/sprite.png") no-repeat 0 -160px !important;}
.icon-table-save {background:url("../../web/images/sprite.png") no-repeat 0 -176px !important;}
.icon-arrow-switch {background:url("../../web/images/sprite.png") no-repeat 0 -192px !important;}
.icon-cancel {background:url("../../web/images/sprite.png") no-repeat 0 -208px !important;}
.icon-chart-curve {background:url("../../web/images/sprite.png") no-repeat 0 -224px !important;}
.icon-chart-curve-add {background:url("../../web/images/sprite.png") no-repeat 0 -240px !important;}
.icon-chart-curve-edit {background:url("../../web/images/sprite.png") no-repeat 0 -256px !important;}
.icon-chart-curve-delete {background:url("../../web/images/sprite.png") no-repeat 0 -272px !important;}
.icon-application-cascade {background:url("../../web/images/sprite.png") no-repeat 0 -288px !important;}
.icon-plugin {background:url("../../web/images/sprite.png") no-repeat 0 -304px !important;}
.icon-table-edit {background:url("../../web/images/sprite.png") no-repeat 0 -320px !important;}
.icon-image-add {background:url("../../web/images/sprite.png") no-repeat 0 -336px !important;}
.icon-folder-wrench {background:url("../../web/images/sprite.png") no-repeat 0 -352px !important;}
.icon-folder-go {background:url("../../web/images/sprite.png") no-repeat 0 -368px !important;}
.icon-calendar {background:url("../../web/images/sprite.png") no-repeat 0 -384px !important;}
.icon-user {background:url("../../web/images/sprite.png") no-repeat 0 -400px !important;}
.icon-server {background:url("../../web/images/sprite.png") no-repeat 0 -416px !important;}
.icon-server-edit {background:url("../../web/images/sprite.png") no-repeat 0 -432px !important;}
.icon-server-delete {background:url("../../web/images/sprite.png") no-repeat 0 -448px !important;}
.icon-page-white {background:url("../../web/images/sprite.png") no-repeat 0 -464px !important;}
.icon-page-white-edit {background:url("../../web/images/sprite.png") no-repeat 0 -480px !important;}
.icon-page-white-delete {background:url("../../web/images/sprite.png") no-repeat 0 -496px !important;}
.icon-page-white-gear {background:url("../../web/images/sprite.png") no-repeat 0 -512px !important;}
.icon-add {background:url("../../web/images/sprite.png") no-repeat 0 -528px !important;}
.icon-plugin-go {background:url("../../web/images/sprite.png") no-repeat 0 -544px !important;}
.icon-plugin-delete {background:url("../../web/images/sprite.png") no-repeat 0 -560px !important;}
.icon-drink {background:url("../../web/images/sprite.png") no-repeat 0 -576px !important;}
.icon-disk {background:url("../../web/images/sprite.png") no-repeat 0 -592px !important;}
.icon-folder {background:url("../../web/images/sprite.png") no-repeat 0 -608px !important;}
.icon-plus {background:url("../../web/images/sprite.png") no-repeat 0 -624px !important;}
.icon-minus {background:url("../../web/images/sprite.png") no-repeat 0 -638px !important;}
.icon-comment-add {background:url("../../web/images/sprite.png") no-repeat 0 -652px !important;}
.icon-delete {background:url("../../web/images/sprite.png") no-repeat 0 -668px !important;}
.icon-find {background:url("../../web/images/sprite.png") no-repeat 0 -684px !important;}
.icon-clock {background:url("../../web/images/sprite.png") no-repeat 0 -700px !important;}
.icon-clock-add {background:url("../../web/images/sprite.png") no-repeat 0 -716px !important;}
.icon-clock-edit {background:url("../../web/images/sprite.png") no-repeat 0 -732px !important;}
.icon-bug-add {background:url("../../web/images/sprite.png") no-repeat 0 -748px !important;}
.icon-style {background:url("../../web/images/sprite.png") no-repeat 0 -764px !important;}
.icon-chart-bar {background:url("../../web/images/sprite.png") no-repeat 0 -780px !important;}
.icon-arrow-undo {background:url("../../web/images/sprite.png") no-repeat 0 -796px !important;}
.icon-arrow-refresh {background:url("../../web/images/sprite.png") no-repeat 0 -812px !important;}
.icon-error {background:url("../../web/images/sprite.png") no-repeat 0 -828px !important;}
.icon-information {background:url("../../web/images/sprite.png") no-repeat 0 -844px !important;}
.icon-warning {background:url("../../web/images/sprite.png") no-repeat 0 -860px !important;}
.icon-cross {background:url("../../web/images/sprite.png") no-repeat 0 -876px !important;}
.icon-cross-over {background:url("../../web/images/sprite.png") no-repeat 0 -892px !important;}
.icon-add {background:url("../../web/images/sprite.png") no-repeat 0 -908px !important;}
.icon-tool-stop-reload {background:url("../../web/images/sprite.png") no-repeat 0 -924px !important;}
.icon-tool-start-reload {background:url("../../web/images/sprite.png") no-repeat 0 -939px !important;}
.icon-user-go {background:url("../../web/images/sprite.png") no-repeat 0 -954px !important;}
.icon-zoom {background:url("../../web/images/sprite.png") no-repeat 0 -970px !important;}
.icon-house {background:url("../../web/images/sprite.png") no-repeat 0 -986px !important;}
.icon-tabs {background:url("../../web/images/sprite.gif") no-repeat 0 -0px !important;}
.icon-row-over {background:url("../../web/images/sprite.gif") no-repeat 0 -16px !important;}
.icon-selected {background:url("../../web/images/sprite.gif") no-repeat 0 -45px !important;}
.icon-loading {background:url("../../web/images/sprite.gif") no-repeat 0 -145px !important;}
.icon-folder {background:url("../../web/images/sprite.gif") no-repeat 0 -161px !important;}
.icon-leaf {background:url("../../web/images/sprite.gif") no-repeat 0 -177px !important;}
