BODY {
	text-align: center;
	margin: 0;
	padding: 0;
	background: #F3F1E9;
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3F3526;
}

#content.bg { background: #F3F1E9 url("../images/bg/body.jpg") repeat-x left top;
}

.container {
	margin: auto;
	width: 690px;
	text-align: left;
}


#content .container.blue { 
	background-color: #E4EEF3;
	border-left: 1px dotted #B1ABA0;
}

ul {
	color: #666666;
}

H2, H3 {
  color: darkgreen;
}

H2 {
	border-bottom: solid 2px darkgreen;
	margin: 25px auto 25px auto;
}

H3{
	margin: 20px auto 20px auto;
}

.margin {
   margin: 20px;
   padding-top: 5px;
}

pre {
	background:url("notepaper.png") repeat scroll left top white;
	border:1px solid #E2E2E2;
	color:navy;
	display:block;
	font-family:"Courier New",Courier,monospace;
	font-size:13px;
	line-height:18px;
	overflow:auto;
	padding:18px 10px 17px;
	text-align:left;
	white-space:pre;
	border:1px solid #A6C1CC;
}

.warning, .forbidden {
	border:1px solid #A6C1CC;
	margin:20px 0;
	padding:8px;
	background: lightyellow;
}

.forbidden {
	background-color: #EE3233;
	color: #fff;
}

table {
	table-layout: fixed;
	width: 100%;
	border:1px solid #A6C1CC;
}

th {
	font-weight: bold;
	border-bottom: dashed 1px #000;
}

td, th {
	background: white;
	padding: 2px 0 2px 5px;
}

.forbidden p, .warning p {
	line-height: 1.5em;
}

.red {
	color: #ff0000;
	font-weight: bold;
}
