/*  
// Icon Classes */
.icon-ob {
	background-image:url(../img/icons/ob_16.png) ! important;
}
.icon-graph {
	background-image:url(/images/famfamfam/chart_curve.png) ! important;
}
.icon-chart {
	background-image:url(/images/famfamfam/chart_bar.png) ! important;
}
.icon-prefs {
	background-image:url(/images/famfamfam/application_form.png) ! important;
}
.icon-ok {
	background-image:url(../img/icons/ok16.png) ! important;
}
.icon-view-tile {
	background-image:url(/images/famfamfam/application_view_tile.png) ! important;
}
.icon-check, .icon-check-off {
	background-image:url(../ext/resources/images/default/menu/unchecked.gif) ! important;
}
.icon-check-on {
	background-image:url(../ext/resources/images/default/menu/checked.gif) ! important;
}
.icon-stat-data {
	background-image:url(../img/icons/kate_16.png) ! important;
}
.icon-rename {
	background-image:url(/images/famfamfam/textfield_rename.png) ! important;
}
.icon-add-col {
	background-image:url(/images/famfamfam/page_white_add.png) ! important;
}
.icon-del-col {
	background-image:url(/images/famfamfam/page_white_delete.png) ! important;
}
.icon-save-table {
	background-image:url(/images/famfamfam/table_save.png) ! important;
}
.icon-add-tab {
	background-image:url(/images/famfamfam/tab_add.png) ! important;
}
.icon-del-tab {
	background-image:url(/images/famfamfam/tab_delete.png) ! important;
}
.icon-go-tab {
	background-image:url(/images/famfamfam/tab_go.png) ! important;
}
.icon-add-table {
	background-image:url(/images/famfamfam/table_add.png) ! important;
}
.icon-del-table {
	background-image:url(/images/famfamfam/table_delete.png) ! important;
}
.icon-admin {
	background-image:url(../img/icons/adv_settings_16.png) ! important;
}
.icon-grid {
    background-image:url(/images/famfamfam/application_view_columns.png) !important;
}
.icon-key {
	background-image:url(/images/famfamfam/key.png) ! important;
}
.icon-key2 {
	background-image:url(../img/icons/key_16.png) ! important;
}
.icon-expand-all {
	background-image:url(../img/icons/expand-all.gif) ! important;
}
.icon-collapse-all {
	background-image:url(../img/icons/collapse-all.gif) ! important;
}
.icon-tree-orgboard {
	background-image:url(/images/famfamfam/chart_organisation.png) ! important;
}
.icon-tree-area {
	background-image:url(/images/famfamfam/post_title.png) ! important;
}
.icon-tree-post {
	background-image:url(/images/famfamfam/page_white.png) ! important;
}
.icon-minus {
	background-image:url(/images/famfamfam/delete.png) ! important;
}
.icon-house {
	background-image:url(../img/icons/house_16.png) ! important;
}
.icon-user {
	background-image:url(../img/icons/user2_16.png) ! important;
}
.icon-trash-empty {
	background-image:url(/images/famfamfam/bin_empty.png) ! important;
}
.icon-trash-closed {
	background-image:url(/images/famfamfam/bin_closed.png) ! important;
}
.icon-disk {
	background-image:url(/images/famfamfam/disk.png) ! important;
}
.icon-disk-bullet {
	background-image:url(/images/famfamfam/bullet_disk.png) ! important;
}
.icon-undo {
	background-image:url(/images/famfamfam/arrow_undo.png) ! important;
}
.icon-loading {
	background-image:url(../ext/resources/images/default/grid/grid-loading.gif) ! important;
}
.icon-db-refresh {
	background-image:url(/images/famfamfam/database_refresh.png) ! important;
}
.icon-db-gear {
	background-image:url(/images/famfamfam/database_gear.png) ! important;
}
.icon-magnifier {
	background-image:url(/images/famfamfam/magnifier.png) ! important;
}
.icon-wrench {
	background-image:url(../img/icons/wrench_16.png) ! important;
}
.icon-wrench-orange {
	background-image:url(/images/famfamfam/wrench_orange.png) ! important;
}
.icon-star {
	background-image:url(/images/famfamfam/star.png) ! important;
}
.icon-lock-go {
	background-image:url(/images/famfamfam/lock_go.png) ! important;
}
.icon-group-add {
	background-image:url(/images/famfamfam/group_add.png) ! important;
}
.icon-group-del {
	background-image:url(/images/famfamfam/group_delete.png) ! important;
}
.icon-stat-portal {
	background-image:url(../img/icons/stat_portal_16.png) ! important;
}
.icon-stat-list {
	background-image:url(../img/icons/stat_list_16.png) ! important;
}
.icon-cancel {
	background-image:url(../img/icons/cancel16.png) ! important;
}
.icon-cross {
	background-image:url(/images/famfamfam/cross.png) ! important;
}
.icon-defaults {
	background-image:url(/images/famfamfam/arrow_rotate_clockwise.png) ! important;
}
.icon-load {
	background-image:url(/images/famfamfam/database_go.png) ! important;
}
.icon-reconfigure {
	background-image:url(/images/famfamfam/database_gear.png) ! important;
}
.icon-working {
	background-image:url(../ext/resources/images/default/grid/wait.gif) ! important;
}
.icon-upload {
	background-image:url(../img/icons/up.png) ! important;
}
.icon-folder-add {
	background-image:url(/images/famfamfam/folder_add.png) ! important;
}
.icon-open {
	background-image:url(/images/famfamfam/application_go.png) ! important;
}
.icon-open-self {
	background-image:url(/images/famfamfam/application.png) ! important;
}
.icon-open-popup {
	background-image:url(/images/famfamfam/application_double.png) ! important;
}
.icon-open-blank {
	background-image:url(/images/famfamfam/application_cascade.png) ! important;
}
.icon-open-download {
	background-image:url(/images/famfamfam/application_put.png) ! important;
}
.icon-refresh {
	background-image:url(/images/famfamfam/arrow_refresh.png) ! important;
}
.icon-pencil {
	background-image:url(/images/famfamfam/pencil.png) ! important;
}
.icon-stop {
	background-image:url(/images/famfamfam/control_stop.png) ! important;
}
.icon-email {
	background-image:url(/images/famfamfam/email.png) ! important;
}
.icon-email-compose {
	background-image:url(/images/famfamfam/email_edit.png) ! important;
}
.icon-coins {
	background-image:url(/images/famfamfam/coins.png) ! important;
}
.icon-clock {
	background-image:url(/images/famfamfam/clock.png) ! important;
}
.icon-zoom {
	background-image:url(/images/famfamfam/zoom.png) ! important;
}
.icon-print {
	background-image:url(/images/famfamfam/printer.png) ! important;
}
.icon-folder-component {
	background-image:url(/images/famfamfam/folder_brick.png) ! important;
}
.icon-plugin {
	background-image:url(/images/famfamfam/plugin.png) ! important;
}
.icon-extension {
	background-image:url(/images/famfamfam/brick.png) ! important;
}
.icon-function {
	background-image:url(/images/famfamfam/flag_yellow.png) ! important;
}
.icon-bulb {
	background-image:url(/images/famfamfam/lightbulb.png) ! important;
}
.icon-bulb-off {
	background-image:url(/images/famfamfam/lightbulb_off.png) ! important;
}
.icon-copy {
	background-image:url(/images/famfamfam/page_white_copy.png) ! important;
}
.icon-star {
	background-image:url(/images/famfamfam/award_star_gold_3.png) ! important;
}
.icon-edit-record {
	background-image:url(/images/famfamfam/table_edit.png) ! important;
}
.icon-actions {
	background-image:url(/images/famfamfam/lightning.png) ! important;
}
.icon-form-add {
	background-image:url(/images/famfamfam/layout_add.png) ! important;
}

/*  Icon Classes end */

