/* for icons, please name icon-imageaction */
.icon-selected-view {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -0px !important;}
.icon-expanded-view {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -16px !important;}
.icon-list-view {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -32px !important;}
.icon-engine {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -48px !important;}
.icon-connect {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -64px !important;}
.icon-addnetwork {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -80px !important;}
.icon-addmonitor {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -96px !important;}
.icon-checkpatch {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -112px !important;}
.icon-import {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -128px !important;}
.icon-share {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -144px !important;}
.icon-export {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -160px !important;}
.icon-go {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -176px !important;}
.icon-stop {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -192px !important;}
.icon-showgraph {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -208px !important;}
.icon-addgraph {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -224px !important;}
.icon-editgraph {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -240px !important;}
.icon-deletegraph {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -256px !important;}
.icon-showprocesses {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -272px !important;}
.icon-showsoftware {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -288px !important;}
.icon-edit {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -304px !important;}
.upload-icon {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -320px !important;}
.settings {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -336px !important;}
.nav {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -352px !important;}
.calendar {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -368px !important;}
.user {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -384px !important;}
.server {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -400px !important;}
.server-edit {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -416px !important;}
.server-delete {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -432px !important;}
.report {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -448px !important;}
.report-edit {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -464px !important;}
.report-delete {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -480px !important;}
.report-generate {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -496px !important;}
.nade-add {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -512px !important;}
.patch-install {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -528px !important;}
.patch-delete {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -544px !important;}

.icon-expand-row {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -560px !important;}
.icon-plus{background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -574px !important;}
.icon-collapse-row {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -590px !important;}
.icon-comment-add {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -604px !important;}
.icon-delete {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -620px !important;}
.icon-tab-default {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -636px !important;}

.icon-search {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -636px !important;}
.icon-clock {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -652px !important;}
.icon-clock-add {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -668px !important;}
.icon-clock-edit {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -684px !important;}
.icon-bug-add {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -700px !important;}
/*
* Settings icons
*/
.icon-font {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -732px !important;}
.icon-graph {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -748px !important;}
.icon-default {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -764px !important;}
.icon-reload {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -780px !important;}

/*
* Notification icons
*/
.icon-notification-error {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -796px !important;}
.icon-notification-info {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -812px !important;}
.icon-notification-warning {background:url("/appFlowerPlugin/images/sprite.gif") no-repeat 0 -0px !important;}

/*
* Css for the ListField
*/
.listfield-remove-icon{	
	float:right;
	width:16px;
}
.listfield-remove-icon a{
	display:block;
	width:16px;
	text-decoration:none;
	background:url('/appFlowerPlugin/images/cross.png') no-repeat center left !important;
}
.listfield-remove-icon a:hover{
	display:block;
	width:16px;
	text-decoration:none;
	background:url('/appFlowerPlugin/images/cross_over.png') no-repeat center left !important;
}
.listfield-add-button{
	background:url('/appFlowerPlugin/images/add.png') no-repeat center left !important;
}
/*
* Css for the new tool [stop auto refreshing widgets]
*/
.x-tool-stop-reload{
	background-position:0px;
	width:15px;
	background-image:url(/appFlowerPlugin/images/tool-stop-reload.png);
}

.x-tool-stop-reload-over{
	background-position: -15px;
	width:15px;
	background-image:url(/appFlowerPlugin/images/tool-stop-reload.png);
}
.x-tool-start-reload{
	background-position:0px;
	width:15px;
	background-image:url(/appFlowerPlugin/images/tool-start-reload.png);
}

.x-tool-start-reload-over{
	background-position: -15px;
	width:15px;
	background-image:url(/appFlowerPlugin/images/tool-start-reload.png);
}
/*
* CSS for the west panel items
*/
#westpanel_link{
	padding:3px;
	margin-bottom:10px;
	font-size:11px;
	font-family: "verdana"
}
#west_panel a:link, #west_panel a:active, #west_panel a:visited{
	color:#0000ff;	
	text-decoration:none;
	font-wight:normal;
}
#west_panel a:hover{
	color:#0000ff;		
}
#west_panel #servers .x-grid3-header{
	display:none;
}
.nowrapgridcell{
  white-space: normal !important;
}
#west_panel .x-grid3-header{
	display:none;
}
/**************************************************************************************/
/*
* CSS for interactive arrow icon where the context menu is displayed
*/

.interactive-arrow-active a:active, .interactive-arrow-active a:link, .interactive-arrow-active a:visited{
	background:url(/images/arrows.gif) no-repeat -16px -3px;
	padding-left:18px;
	text-decoration:none;
}
.interactive-arrow a:active, .interactive-arrow a:link, .interactive-arrow a:visited{
	background:url(/images/arrows.gif) no-repeat left -3px; 
	padding-left:18px;
	text-decoration:none;
}
.interactive-arrow a:hover{
	background:url(/images/arrows.gif) no-repeat -48px -3px; 
	padding-left:18px;
}
/********************************************************************************************************************************/
.expand-list-btn{
	color:#0000ff !important;
	background-image:none !important;
}
.custom-dataview .x-panel-body{
	background: white;
	font: 11px Arial, Helvetica, sans-serif;
}
.custom-dataview .item{
	background: #dddddd;
	padding: 3px;
}
.custom-dataview .item-wrap{
	float: left;
	margin: 4px;
	margin-right: 0;
	padding: 5px;
}
.custom-dataview .x-view-over{
    border:1px solid #dddddd;
    background: #efefef url(/appFlowerPlugin/extjs-3/resources/images/default/grid/row-over.gif) repeat-x left top;
	padding: 4px;
}

.custom-dataview .x-view-selected{
	background: #eff5fb url(/appFlowerPlugin/extjs-3/examples/view/images/selected.gif) no-repeat right bottom;
	border:1px solid #99bbe8;
	padding: 4px;
}
.custom-dataview .x-view-selected .item{
	background:transparent;
}

.custom-dataview .loading-indicator {
	font-size:11px;
	background-image:url('/appFlowerPlugin/extjs-3/resources/images/default/grid/loading.gif');
	background-repeat: no-repeat;
	background-position: left;
	padding-left:20px;
	margin:10px;
}

.folder {
	background-image:url(/appFlowerPlugin/extjs-3/resources/images/default/tree/folder.gif) no-repeat 0 0 !important;
/*	background-repeat:no-repeat; */
}
.file {
	background-image:url(/appFlowerPlugin/extjs-3/resources/images/default/tree/leaf.gif) no-repeat 0 0 !important;
/*	background-repeat:no-repeat; */
}

.tbarBottomBorderFix
{
	border-bottom-style: solid !important;
	border-bottom-width: 2px !important;
	border-bottom-color:#cc0000;
	margin-bottom:5px;
}

.x-btn-text-icon-right .x-btn-center .x-btn-text{background-position:right;background-repeat:no-repeat;padding-left:0px;padding-top:2px;padding-bottom:3px;padding-right:18px;}

/* Enables text selection in grid rows. */
.x-grid3-row td,.x-grid3-summary-row td {
  -khtml-user-select: text!important;
  -moz-user-select: text!important;
}

/**
* for loading mask
*/
html, body {
    margin:0;
    padding:0;
    border:0 none;
    overflow:hidden;
    height:100%;
    width:100%;
}
#loading-mask{
	position:absolute;
	left:0;
	top:0;
    width:100%;
    height:100%;
    z-index:20000;
    background-color:white;
}
#loading{
	position:absolute;
	left:45%;
	top:40%;
	padding:2px;
	z-index:20001;
    height:auto;
}
#loading img {
    margin-bottom:5px;
}
#loading .loading-indicator{
	background:white;
	color:#555;
	font:bold 13px tahoma,arial,helvetica;
	padding:10px;
	margin:0;
    text-align:center;
    height:auto;
}


/* Widget Help Popup  */

#whelp {
   width: 100%;
}

#whelp th {
	font-size: 1.2em; 
	font-weight: bold !important;
	background: #eee;
	border-bottom: dashed 2px gray;
	padding-left: 4px;
	}

#whelp td {
	padding: 4px;	
}

