/* for icons, please name icon-imageaction */
.icon-accept  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -0px !important;}
.icon-selected-view  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -16px !important;}
.icon-expanded-view  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -32px !important;}
.icon-list-view  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -48px !important;}
.icon-engine  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -64px !important;}
.icon-connect  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -80px !important;}
.icon-addnetwork  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -96px !important;}
.icon-addmonitor  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -112px !important;}
.icon-checkpatch  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -128px !important;}
.icon-import  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -144px !important;}
.icon-share  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -160px !important;}
.icon-export  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -176px !important;}
.icon-go  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -192px !important;}
.icon-stop  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -208px !important;}
.icon-showgraph  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -224px !important;}
.icon-addgraph  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -240px !important;}
.icon-editgraph  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -256px !important;}
.icon-deletegraph  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -272px !important;}
.icon-showprocesses  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -288px !important;}
.icon-showsoftware  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -304px !important;}
.icon-edit  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -320px !important;}
.upload-icon  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -336px !important;}
.settings  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -352px !important;}
.nav  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -368px !important;}
.calendar  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -384px !important;}
.user  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -400px !important;}
.server  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -416px !important;}
.server-edit  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -432px !important;}
.server-delete  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -448px !important;}
.report  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -464px !important;}
.report-edit  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -480px !important;}
.report-delete  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -496px !important;}
.report-generate  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -512px !important;}
.icon-plus  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -528px !important;}
.nade-add { background-image:url( /images/famfamfam/add.png ) !important; }
.patch-install  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -544px !important;}
.patch-delete  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -560px !important;}
.icon-filter  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -576px !important;}
.icon-save  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -592px !important;}
.icon-folder  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -608px !important;}
.icon-expand-row  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -624px !important;  height:15px;}
.icon-collapse-row  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -638px !important; height:15px;}
.icon-comment-add  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -652px !important;}
.icon-delete  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -668px !important;}
.icon-minus  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -668px !important;}
.icon-search  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -684px !important;}
.icon-tab-default  {background:url("/appFlowerPlugin/images/sprite.gif") no-repeat 0 -0px !important;}
.icon-clock  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -700px !important;}
.icon-clock-add  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -716px !important;}
.icon-clock-edit  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -732px !important;}
.icon-bug-add  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -748px !important;}
.icon-font  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -764px !important;}
.icon-bargraph  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -780px !important;}
.icon-default  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -796px !important;}
.icon-reload  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -812px !important;}


/*
* Notification icons
*/
.icon-notification-error  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -828px !important;}
.icon-notification-info  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -844px !important;}
.icon-notification-warning  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -860px !important;}

/*
* Css for the ListField
*/
.listfield-remove-icon{	
	float:right;
	width:16px;
}
.listfield-remove-icon a{
	display:block;
	width:16px;
	text-decoration:none;
	background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -876px !important;
}
.listfield-remove-icon a:hover{
	display:block;
	width:16px;
	text-decoration:none;
	background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -891px !important;
}
.listfield-add-button{
	background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -907px !important;
}
/*
* Css for the new tool [stop auto refreshing widgets]
*/
.x-tool-stop-reload{
	background-position:0px;
	width:15px;
	background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -923px !important;
}

.x-tool-stop-reload-over{
	width:15px;
	background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -938px !important;
}
.x-tool-start-reload{
	background-position:0px;
	width:15px;
	background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -953px !important;
}

.x-tool-start-reload-over{
	width:15px;
	background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -968px !important;
}
/*
* CSS for the west panel items
*/
#westpanel_link{
	padding:3px;
	margin-bottom:10px;
	font-size:11px;
	font-family: "verdana"
}
#west_panel a:link, #west_panel a:active, #west_panel a:visited{
	color:#0000ff;	
	text-decoration:none;
	font-wight:normal;
}
#west_panel a:hover{
	color:#0000ff;		
}
#west_panel #servers .x-grid3-header{
	display:none;
}
.nowrapgridcell{
  white-space: normal !important;
}
#west_panel .x-grid3-header{
	display:none;
}
/**************************************************************************************/
/*
* CSS for interactive arrow icon where the context menu is displayed
*/

.interactive-arrow-active a:active, .interactive-arrow-active a:link, .interactive-arrow-active a:visited{
	background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -983px !important;
	padding-left:18px;
	text-decoration:none;
}
.interactive-arrow a:active, .interactive-arrow a:link, .interactive-arrow a:visited{
	background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -999px !important;
	padding-left:18px;
	text-decoration:none;
}
.interactive-arrow a:hover{
	background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -1015px !important;
	padding-left:18px;
}
/********************************************************************************************************************************/
.expand-list-btn{
	color:#0000ff !important;
	background-image:none !important;
}
.custom-dataview .x-panel-body{
	background: white;
	font: 11px Arial, Helvetica, sans-serif;
}
.custom-dataview .item{
	background: #dddddd;
	padding: 3px;
}
.custom-dataview .item-wrap{
	float: left;
	margin: 4px;
	margin-right: 0;
	padding: 5px;
}
.custom-dataview .x-view-over{
    border:1px solid #dddddd;
    background:url("/appFlowerPlugin/images/sprite.gif") no-repeat 0 -16px !important;
	padding: 4px;
}

.custom-dataview .x-view-selected{
	background:url("/appFlowerPlugin/images/sprite.gif") no-repeat 0 -45px !important;
	border:1px solid #99bbe8;
	padding: 4px;
}
.custom-dataview .x-view-selected .item{
	background:transparent;
}

.custom-dataview .loading-indicator {
	font-size:11px;
	background-image:url('/appFlowerPlugin/extjs-3/resources/images/default/grid/loading.gif');
	background-repeat: no-repeat;
	background-position: left;
	padding-left:20px;
	margin:10px;
}

.folder  {background:url("/appFlowerPlugin/images/sprite.gif") no-repeat 0 -161px !important;}
.file  {background:url("/appFlowerPlugin/images/sprite.gif") no-repeat 0 -177px !important;}

.tbarBottomBorderFix
{
	border-bottom-style: solid !important;
	border-bottom-width: 2px !important;
	border-bottom-color:#cc0000;
	margin-bottom:5px;
}

.x-btn-text-icon-right .x-btn-center .x-btn-text{background-position:right;background-repeat:no-repeat;padding-left:0px;padding-top:2px;padding-bottom:3px;padding-right:18px;}

/* Enables text selection in grid rows. */
.x-grid3-row td,.x-grid3-summary-row td {
  -khtml-user-select: text!important;
  -moz-user-select: text!important;
}
.table-notification{
	width:100%;	
	border:1px solid #ccc;
	background-color:#eaeaea;
}
.table-notification .label{
	color:#000000;
	background-color:#f4f2f2;
	padding:5px;
	width:100px;	
}
.table-notification .content{
	color:#000000;
	background-color:#fff;
	padding:5px;	
}
.about-window{
	color:#333;
}
.about-window u{
	color:#000
}
.about-window a:active, .about-window a:link, .about-window a:visited{
	color:#0000ff;
	text-decoration:none;
}
.about-window a:hover{
	color:#0000ff;
	text-decoration:underline;
}

/* Widget Help Popup  */

#whelp {
   width: 100%;
}

#whelp th {
	font-size: 1.2em; 
	font-weight: bold !important;
	background: #eee;
	border-bottom: dashed 2px gray;
	padding-left: 4px;
	}

#whelp td {
	padding: 4px;	
}

.icon-user-go {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -1031px !important;}
.icon-zoom {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -1047px !important;}
.icon-house  {background:url("/appFlowerPlugin/images/sprite.png") no-repeat 0 -1063px !important;}