
AddOutputFilterByType DEFLATE text/html text/css application/x-javascript

<IfModule mod_headers.c>
<FilesMatch "\.(jpg|png|gif|swf)$">
     Header set Cache-Control "max-age=31536000, public"
</FilesMatch>
</IfModule>
